/* Contenitore principale */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: none; /* Rimuovi il background bianco */
}

/* Card del form */
.col-md-6 {
  background: rgba(255, 255, 255, 0.9); /* Trasparente per mostrare lo sfondo principale */
  padding: 30px 35px 30px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titolo del form */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-family: Arial, sans-serif;
}

/* Stile dei gruppi di input */
.form-group {
  margin-bottom: 15px;
}

/* Label del form */
.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

/* Input */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

/* Placeholder grigio */
.form-group input::placeholder {
  color: #999;
}

/* Checkbox */
.form-check-input {
  margin-right: 10px;
}

/* Testo del checkbox */
.form-check-label {
  color: #000;
}

/* Messaggi di errore */
.text-danger {
  color: #dc3545;
}

/* Bottone */
.btn-success {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-success-swal {
  background-color: #28a745 !important; 
  color: white !important;
  border: none !important;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-success-swal:hover {
  background-color: #218838 !important; 
}

.password-requirements {
  list-style-type: none;
  padding-left: 10px;
}

.password-requirements li {
  margin-bottom: 5px;
}
